<div class="formBG">
    <div class="newProjectForm">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col m6 s12">
                        <input id="title" type="text" class="validate">
                        <label for="title">Project Title</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input id="category" type="text" class="validate">
                        <label for="category">Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="description" type="text" class="validate">
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 s12">
                        <input id="people_needed" type="number" class="validate">
                        <label for="people_needed">People Needed</label>
                    </div>
                    <div class="col m6 s12">
                        <input id="date" type="date" class="validate">
                        <label for="date">Project Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="location" type="text" class="validate">
                        <label for="location">Project Address</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>