<section class="headImg"></section>

<section>
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad itaque nemo nisi incidunt sed. Amet praesentium perspiciatis itaque. Hic, et provident natus aliquid illum cumque quae in. Odit, sequi!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam reprehenderit id veritatis possimus qui eum fuga debitis hic sint inventore? Nam id distinctio officiis, labore quasi alias expedita error excepturi?</p>
  </div>
</section>

<div id="home">
  <div class="row">

    {{#each list}}

    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <img
            src="https://images.unsplash.com/photo-1569055240014-3a2a63b01e97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
          <p>{{description}}</p>
        </div>
        <div class="card-action">
          <a href="/viewpost/{{id}}">This is a link</a>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>