<div class="signupImg">
    <div>
        <button><a href="/home">home</a></button>
    </div>
    <div class="signinForm">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col m12 ">
                        <input id="newUsername" type="text" class="validate">
                        <label for="username">username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="newPassword" type="text" class="validate">
                        <label for="password">password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="newEmail" type="text" class="validate">
                        <label for="email">email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="newName" type="text" class="validate">
                        <label for="name">name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="newStreetAddress" type="text" class="validate">
                        <label for="address">street address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12">
                        <input id="newStreetAddressLine2" type="text">
                        <label for="address">street address line 2</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m6">
                        <input id="newCity" type="text" class="validate">
                        <label for="address">city</label>
                    </div>
                    <div class="input-field col m6">
                        <input id="newState" type="text" class="validate">
                        <label for="address">state / province</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m6">
                        <input id="newZipCode" type="text" class="validate">
                        <label for="address">postal / zip code</label>
                    </div>
                    <div class="input-field col m6">
                        <input id="newCountry" type="text" class="validate">
                        <label for="address">country</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" id="signup"><a href="/home">sign up</a></button>
            </form>
        </div>
    </div>
</div>