nav>
<div class="nav-wrapper">
  <a href="/home" class="brand-logo" style="padding-left: 50px">Interactive Community Board</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 50px">
    <li><a href="/createproject">Create New Post</a></li>
    <li><a href="/logout">Sign Out</a></li>
  </ul>
</div>
</nav>

<section class="headImg"></section>

<section>
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad itaque nemo nisi incidunt sed. Amet
      praesentium perspiciatis itaque. Hic, et provident natus aliquid illum cumque quae in. Odit, sequi!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam reprehenderit id veritatis possimus qui eum
      fuga
      debitis hic sint inventore? Nam id distinctio officiis, labore quasi alias expedita error excepturi?</p>

  </div>
</section>

<div id="home">
  <div class="row">

    {{#each list}}

    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <img src="">
        </div>
        <div class="card-content">
          <span class="card-title">{{title}}</span>
          <p>{{description}}</p>
          <p>{{location}}</p>
        </div>
        <div class="card-action">
          <a href="/viewpost/{{id}}">This is a link</a>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>